@model MVC.Model.Filme

@{
    ViewBag.Title = "Remoção de Filmes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover Filmes</h2>

<h3>Você tem certeza que deseja remover o Filme?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista de Filmes", "Index")
        </div>
    }
</div>
